{% extends '::base.html.twig' %}

{% block title %} {{ 'Sign Up' | trans }}{% endblock %}

{% block headline %}
    {{ 'Sign Up' | trans({}, 'AcmeBlogBundle') }}
{% endblock %}

{% block content %}
    <div class="span6">
        <p>{{ 'Already a user? Sing in' | trans({'%link%': path('login')}, 'AcmeBlogBundle') | raw }}</p>
        <form action="{{ path('signup') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            {{ form_row(form.user.username) }}
            {{ form_row(form.user.email) }}
            {{ form_row(form.user.plainPassword.password) }}
            {{ form_row(form.user.plainPassword.confirm) }}
            {{ form_rest(form) }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{{ 'Submit' | trans({}, 'AcmeBlogBundle') }}" />
                <button type="reset" class="btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
