{% extends '::base.html.twig' %}

{% block title %} {{ 'Create a new post' | trans({}, 'AcmeBlogBundle') }}{% endblock %}

{% block body %}

    <h2>{{ 'Create a new post' | trans({}, 'AcmeBlogBundle') }}</h2>
    <form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Submit' | trans({}, 'AcmeBlogBundle') }}" />
    </form>

{% endblock %}
